services:
  db:
    image: postgres:18.1-alpine3.22
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    expose:
      - "5432"



  backend:
    build: ./backend
    expose:
      - "8000"
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - static:/app/collected_static
      - media:/app/media
    depends_on:
      - db


  frontend:
    build: ./frontend
    expose:
      - "3000"
    environment:
      REACT_APP_API_URL: /api
      HOST: 0.0.0.0
    depends_on:
      - backend


  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend


  migrations:
      build: ./backend
      command: python manage.py migrate
      environment:
        DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        POSTGRES_DB: ${POSTGRES_DB}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_HOST: db
        POSTGRES_PORT: 5432
      depends_on:
        - db
      restart: "no"


volumes:
  static:
  media:
  pg_data: